.home .full-screen{
  min-height: 86vh;
  padding: 50px 0;
}

.home .text-home{
background-color: tomato;
letter-spacing: 2px;
}

.home .text-home,
.home .img-home{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

@media(max-width:1280px) {
  .home .text-home,
  .home .img-home{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: var(--mobile-padding);
  }
}