.skills .container-skills{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.skills .container-skills .skill{
  max-width: 350px;
  padding: 40px 20px;
}

.skills .container-skills .skill p,
.skills .container-skills .skill h3,
.skills .container-skills .skill .logo i{
  transition: all 0.3s ease;
  
}

.skills .container-skills .skill h3{
  color: var(--color-primary);
  font-size: var(--medium-font);
  font-weight: 700;
  margin-bottom: 20px;
}

.skills .container-skills .skill p{
  font-size: 1.2em;
  font-family: var( --font-secundary);
}

.skills .container-skills .skill .logo i{
  font-size: 4em;
}