:root{
  --color-primary: #FF9F6F;
  --color-secondary: #08C6CD;
  --color-white:#ffff;
  --color-background-gray: rgb(29, 26, 28);
  --color-dark: rgb(12 11 12);
}

:root{
  --font-primary: 'Roboto Condensed', sans-serif;
  --font-secundary: 'Raleway', sans-serif;
  --big-font: 2.5em;
  --extra-big-font: 3em;
  --medium-font: 1.4em;
  --normal-font: 1em;
}

:root {
 --mobile-padding: 1.8em;
}