:root{
  --color-primary: #FF9F6F;
  --color-secondary: #08C6CD;
  --color-white:#ffff;
  --color-background-gray: rgba(43, 44, 80, 0.81);
}

:root{
  --font-primary: 'Roboto Condensed', sans-serif;
  --font-secundary: 'Raleway', sans-serif;
  --big-font: 3em;
  --extra-big-font: 4em;
  --medium-font: 2em;
  --normal-font: 1em;
}

:root {
 --mobile-padding: 2em;
}